<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Register", "Login", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>
    </ul>
</div>